<?xml version="1.0"?>
<SEOChecker version="1.9.2">
  <trigger triggerOnPublish="true">
  </trigger>
  <xmlSiteMap enabled="false" excludeUmbracoNaviHide="false" />
  <urlRewrite enabled="true" forcewwwUrls="ignore" useTrailingSlashProperty="ignore" />
  <robotsTxt enabled="false" />
  <robots>
    <robot userAgent="Googlebot/2.1" name="Google" />
  </robots>
  <documentTypeConfiguration>
  </documentTypeConfiguration>
  <emailConfiguration>
  </emailConfiguration>
  <keywordSelectionUrl>https://adwords.google.com/ko/KeywordPlanner/Home</keywordSelectionUrl>
  <showTemplateErrorsForNonAdmins>false</showTemplateErrorsForNonAdmins>
</SEOChecker>